#animal {
  height: auto;
  width: 400px;
}

#experienceBar {
  width: 100%;
  background-color: grey;
}

#level {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color: white;
}

#num {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-size: 18pt;
  color: lightblue;
}
