#animal {
  height: auto;
  width: 400px;
}

#experienceBar {
  width: 100%;
  background-color: grey;
}

#level {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color: white;
}

#num {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-size: 18pt;
  color: lightblue;
}

.column {
  float: left;
}

.bottom-left{
  font-size: 17pt;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 1.5em;
  margin-right: 150px;
  border: 4mm ridge rgba(170, 50, 220, .6);
}

.todo {
  font-size: 1.25em;
  border: none;
  margin-right: 0px;
}


.item{
  box-shadow: 2px 2px 4px #000000;
}
.item:hover {
  -webkit-text-fill-color: #4CAF50;
  box-shadow: 2px 2px 4px #000000;
}

.faceButtons a{
  color: black;
  float: left;
  display: inline-block;
  margin-right: 18px;
  background-image: url("../Images/dog_face.png");
  width: 225px;
  height: 225px;
  text-align: center;
  -webkit-text-fill-color: purple;
  padding: 20px 25px;
}

.faceButtons a.pet2 {
  color: black;
  float: left;
  display: inline-block;
  margin-right: 18px;
  background-image: url("../Images/cat_face.png");
  background-repeat: no-repeat;
  width: 233px;
  height: 216px;
  text-align: center;
  -webkit-text-fill-color: purple;
  padding: 20px 25px;
}

.faceButtons a.pet3 {
  color: black;
  float: left;
  display: inline-block;
  margin-right: 18px;
  background-image: url("../Images/square.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 225px;
  text-align: center;
  -webkit-text-fill-color: purple;
  padding: 20px 25px;
}

.faceButtons a:hover{
  -webkit-text-fill-color: #4CAF50;
  box-shadow: 2px 2px 4px #000000;
}

.logout {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 70px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.logout:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
